<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Notifications are needed to get the quotes</string>
	<key>UIAppFonts</key>
	<array>
		<string>Airtravelers.otf</string>
		<string>fblovehearts.otf</string>
	</array>
</dict>
</plist>
